<div class="card">
    <!-- <div class="card-header card-header-danger">
        <h4 class="card-title ">Danh sách tài khoản</h4>
         <p class="card-category"> Here is a subtitle for this table</p> 
    </div> -->
    <div class="card-body">
        <kendo-grid [kendoGridBinding]="gridData" kendoGridSelectBy="id" [pageSize]="state.take!" [skip]="state.skip!"
            [sort]="state.sort!" [group]="state.group!" [pageable]="true" [sortable]="true"
            style="height: 700px; width: 1200px;" [columnMenu]="{ filter: true }" (edit)="editHandler($event)"
            (add)="addHanler($event)" (remove)="removeHandler($event)" (dataStateChange)="dataStateChange($event)">
            <ng-template kendoGridToolbarTemplate>
                <div>
                    <span class="k-textbox  k-grid-search k-display-flex rounded-pill mr-3" >
                        <input  autocomplete="off" placeholder="tìm theo SĐT" title="Search..." #username class="k-input">
                      </span>   
                      <button (click)="ngOnInitserch(username.value)"  class= "btn-outline-primary rounded-pill mr-3" >
                        <span class="k-icon k-i-search"></span>
                        <span class="k-grid-search-text">Tìm kiếm</span>
                      </button> 
                </div>
                <div class="d-flex align-items-center ml-auto">   <button class="btn-outline-primary rounded-pill mr-3" iconClass="fa fa-plus" kendoGridAddCommand>Thêm mới</button></div>
             
            </ng-template>
            <kendo-grid-column title="STT" [width]="100">
            <ng-template kendoGridCellTemplate let-rowIndex="rowIndex">
              {{ rowIndex + 1 }}
            </ng-template>
          </kendo-grid-column>
            <kendo-grid-column field="email" title="Email" [width]="250">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{dataItem.email }}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="username" title="Tên đăng nhập " [width]="200">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{dataItem.username }}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="phone" title="SDT" [width]="200">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{dataItem.phone }}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-command-column field="address" title="địa chỉ" [width]="220">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{dataItem.address }}
                </ng-template>
            </kendo-grid-command-column>
            <kendo-grid-command-column title="Tùy chỉnh" [width]="250" >
                <ng-template kendoGridCellTemplate let-dataItem>
                    <button class="btn-outline-success rounded-pill " iconClass="fa fa-edit" kendoGridEditCommand > sửa</button>
                    <button class="btn-outline-danger rounded-pill" iconClass="fa fa-trash" kendoGridRemoveCommand>Xóa</button>
                </ng-template>
            </kendo-grid-command-column>
        </kendo-grid>
        <div *ngIf="api.loading" class="k-i-loading"></div>
        <div kendoWindowContainer></div>
        <div kendoDialogContainer></div>
    </div>
</div>