<div class="card">
    <!-- <div class="card-header card-header-danger">
        <h4 class="card-title ">Quản lý đơn hàng</h4>
    </div> -->
    <div class="card-body">
        <kendo-grid #grid [kendoGridBinding]="gridData" style="height: 600px; width: 1150px;" [pageSize]="10"
            (edit)="editHandler($event)" [sortable]="true" [pageable]="true" [sortable]="true" [navigable]="true"
            [resizable]="true" (cellClose)="cellCloseHandler($event)" (cellClick)="cellClickHandler($event)"
            filterable="menu">
            <ng-template kendoGridToolbarTemplate>
                <div>
                    <span class="k-textbox  k-grid-search k-display-flex rounded-pill mr-3">
                        <input autocomplete="off" placeholder="Tìm Kiếm..." title="Search..." #username class="k-input">
                    </span>
                    <button class="btn-outline-primary rounded-pill mr-3">
                        <span class="k-icon k-i-search"></span>
                        <span class="k-grid-search-text">Tìm kiếm</span>
                    </button>
                </div>
                <button kendoButton iconClass="fa fa-floppy-o" style="border-radius: 20px" class="btn btn-primary"
                    (click)="Update(grid)">
                    Lưu
                </button>
                <div class="col-md-12">
                <div class="dropdown ">
                    <select (change)="ngOnInitdropdow($event)" style="border: none;">
                        <option> Trạng Thái
                        </option>

                        <option *ngFor="let listStatus of listStatus" [value]="listStatus.name">

                            <div *ngIf="listStatus.name == 'HUY'">
                                Hủy
                        </div>
                            <div *ngIf="listStatus.name == 'CHUA_XAC_NHAN'">
                                Chưa xác nhận
                            </div>
                            <div *ngIf="listStatus.name == 'DA_XAC_NHAN_VA_DONG_GOI'">
                                Đã xác nhận và đóng gói
                            </div>
                            <div *ngIf="listStatus.name == 'KHACH_DA_NHAN_HANG'">
                                Khách đã nhận hàng
                            </div>
                            <div *ngIf="listStatus.name == 'HOAN_HANG'">
                                Hoàn hàng
                            </div>
                            <div *ngIf="listStatus.name == 'DA_GIAO_BEN_VAN_CHUYEN'">
                                Đã giao bên vận chuyển
                            </div>
                        </option>
                    </select>

                </div>
                <div class="dropdown">
                    <select (change)="ngOnInitpayment($event)" style="border: none;">
                        <option>Phương Thức
                        </option>>
                        <option *ngFor="let listpaypent of listpaypent" [value]="listpaypent.id">
                            {{ listpaypent.name }}
                        </option>
                    </select>
                </div>
            </div>

            </ng-template>

            <!-- <kendo-grid-column field="statusshipping" title="Mã trạng thái ship" [width]="200">
            </kendo-grid-column> -->
            <kendo-grid-column field="status" title="Trạng thái" [width]="200">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <div *ngIf="dataItem.status == 'HUY'">
                        Hủy
                    </div>
                    <div *ngIf="dataItem.status == 'CHUA_XAC_NHAN'">
                        Chưa xác nhận
                    </div>
                    <div *ngIf="dataItem.status == 'DA_XAC_NHAN_VA_DONG_GOI'">
                        Đã xác nhận và đóng gói
                    </div>
                    <div *ngIf="dataItem.status == 'KHACH_DA_NHAN_HANG'">
                        Khách đã nhận hàng
                    </div>
                    <div *ngIf="dataItem.status == 'HOAN_HANG'">
                        Hoàn hàng
                    </div>
                    <div *ngIf="dataItem.status == 'DA_GIAO_BEN_VAN_CHUYEN'">
                        Đã giao bên vận chuyển
                    </div>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="noterefund" title="Ghi chú hoàn hàng" [width]="200">
            </kendo-grid-column>
            <kendo-grid-column field="id" title="Mã đơn hàng" [width]="150"></kendo-grid-column>
            <kendo-grid-column field="payment" title="Phương thức" [width]="250">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{ dataItem.payment ? "Thanh toán bằng ví" : "Thanh toán bằng tiền mặt" }}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="fullname" title="Tên người nhận" [width]="200"></kendo-grid-column>
            <kendo-grid-column field="sdt" title="SĐT" [width]="150"></kendo-grid-column>
            <kendo-grid-column field="address" title="Địa chỉ" [width]="300"></kendo-grid-column>
            <kendo-grid-column field="total" title="Tổng hóa đơn" [width]="200">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{ dataItem.total |number :'1.0-3'}}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-command-column title="Tùy chỉnh" [width]="150">
                <ng-template kendoGridCellTemplate let-isNew="isNew">
                    <button kendoGridEditCommand style="border-radius: 20px" class="btn btn-primary">Chi tiết</button>
                </ng-template>
            </kendo-grid-command-column>
        </kendo-grid>
        <div *ngIf="Bill.loading" class="k-i-loading"></div>
        <div kendoWindowContainer></div>
    </div>
</div>