<div class="card">
  <div class="card-body">
    <kendo-grid #grid [kendoGridBinding]="gridData" [height]="765" [pageSize]="20" [sortable]="true"
      [pageable]="true" [sortable]="true" (cellClose)="cellCloseHandler($event)"
      (cellClick)="cellClickHandler($event)" (cancel)="cancelHandler($event)" (save)="saveHandler($event)"
      (remove)="removeHandler($event)" (add)="addHandler($event)" [navigable]="true">
      <ng-template kendoGridToolbarTemplate>
        <button class="btn-outline-primary" style="border-radius: 20px;" iconClass="fa fa-plus"
          kendoGridAddCommand>Thêm mới</button>
      </ng-template>
      <kendo-grid-column field="name" title="Tên"></kendo-grid-column>
      <kendo-grid-command-column title="Tùy chỉnh" [width]="320">
        <ng-template kendoGridCellTemplate let-isNew="isNew">
          <button *ngIf="!isNew" class="btn-outline-success" style="border-radius: 20px;" kendoButton
            iconClass="fa fa-floppy-o" (click)="Update(grid)">
            LƯU
          </button>
          <button class="btn-outline-danger" iconClass="fa fa-trash" style="border-radius: 20px;"
            kendoGridRemoveCommand>Xóa</button>
          <button class="btn-outline-primary" iconClass="fa fa-plus" style="border-radius: 20px;" kendoGridSaveCommand>Thêm</button>
          <button class="btn-outline-danger" iconClass="fa fa-trash" style="border-radius: 20px;"
            kendoGridCancelCommand>Hủy</button>
        </ng-template>
      </kendo-grid-command-column>
    </kendo-grid>
    <div *ngIf="api.loading" class="k-i-loading"></div>
  </div>
</div>
