<div class="card">
  <div class="card-body">
    <kendo-grid [kendoGridBinding]="gridData" kendoGridSelectBy="id" [pageSize]="state.take!" [skip]="state.skip!"
      [sort]="state.sort!" [group]="state.group!" [pageable]="true" [sortable]="true"
      style="height: 770px; width: 1170px;" [columnMenu]="{ filter: true }" (edit)="editHandler($event)"
      (add)="addHanler($event)" (remove)="removeHandler($event)" (dataStateChange)="dataStateChange($event)">
      <ng-template kendoGridToolbarTemplate>
        <div>
          <span class="k-textbox  k-grid-search k-display-flex rounded-pill mr-3">
            <input autocomplete="off" placeholder=" Tìm kiếm theo tên" title="Search..." #username class="k-input">
          </span>
          <button (click)="ngOnInitsearch(username.value)" class="btn-outline-primary rounded-pill mr-3">
            <span class="k-icon k-i-search"></span>
            <span class="k-grid-search-text">Tìm kiếm</span>
          </button>
        </div>
        <button kendoGridAddCommand class="btn btn-primary" iconClass="fa fa-plus" style="border-radius: 20px; "> Thêm
          mới</button>
      </ng-template>
      <kendo-grid-column title="STT" [width]="100">
        <ng-template kendoGridCellTemplate let-rowIndex="rowIndex">
          {{ rowIndex + 1 }}
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column field="name" title="Tên sản phẩm" [width]="350"></kendo-grid-column>
      <kendo-grid-column field="price" title="Giá" [width]="100">
        <ng-template kendoGridCellTemplate let-dataItem>
          {{ dataItem.price | number :'1.0-3'}}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="categorydetail.category.name" title="Loại sản phẩm" [width]="250">
        <ng-template kendoGridGroupHeaderTemplate let-value="value">
          {{ value }}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="categorydetail.name" title="Chi tiết loại sản phẩm " [width]="250">
        <ng-template kendoGridGroupHeaderTemplate let-value="value">
          {{ value }}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="quantity" title="Số lượng" [width]="120">
        <ng-template kendoGridGroupHeaderTemplate let-value="value">
          {{ value }}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-command-column title="Tùy chỉnh" [width]="270" [locked]="false">
        <ng-template kendoGridCellTemplate let-dataItem>
          <!-- <button kendoGridEditCommand iconClass="fa fa-pencil" class="btn btn-primary" style="border-radius: 20px;">
            Chỉnh sửa</button> -->
          <button kendoGridRemoveCommand iconClass="fa fa-trash" class="btn btn-danger" style="border-radius: 20px;">
            Xóa</button>
            <button kendoGridEditCommand iconClass="fa fa-bars" class="btn btn-primary" style="border-radius: 20px;">
              Chi tiết</button>
        </ng-template>
      </kendo-grid-command-column>
    </kendo-grid>
    <div *ngIf="api.loading" class="k-i-loading"></div>
    <div kendoWindowContainer></div>
    <div kendoDialogContainer></div>
  </div>
</div>
