<div class="card">
  <div class="card-body">
    <kendo-grid [kendoGridBinding]="gridData" kendoGridSelectBy="id" [pageSize]="state.take!" [skip]="state.skip!"
      [sort]="state.sort!" [group]="state.group!" [pageable]="true" [sortable]="true"
      style="height: 770px; width: 1170px;" [columnMenu]="{ filter: true }" (edit)="editHandler($event)"
      (add)="addHanler($event)" (remove)="removeHandler($event)" (dataStateChange)="dataStateChange($event)">
      <ng-template kendoGridToolbarTemplate>
        <button kendoGridAddCommand class="btn btn-primary" iconClass="fa fa-plus" style="border-radius: 20px;">  Thêm mới</button>
      </ng-template>
      <kendo-grid-command-column  title="Command" [width]="370" [locked]="false" >
        <ng-template kendoGridCellTemplate let-dataItem>
          <button kendoGridEditCommand iconClass="fa fa-pencil" class="btn btn-primary" style="border-radius: 20px;"> Chỉnh sửa</button>
          <button kendoGridRemoveCommand iconClass="fa fa-trash" class="btn btn-danger"style="border-radius: 20px;"> Xóa</button>
          <button kendoButton iconClass="fa fa-upload" (click)="UploadImage(dataItem.id)" class="btn btn-secondary"style="border-radius: 20px;">Tải
            ảnh</button>
        </ng-template>
      </kendo-grid-command-column>
      <kendo-grid-column field="name" title="Tên sản phẩm" [width]="250" ></kendo-grid-column>
      <kendo-grid-column field="price" title="Giá" [width]="100">
        <ng-template kendoGridCellTemplate let-dataItem>
          {{ dataItem.price | number :'1.0-3'}}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="categorydetail.category.name" title="Danh mục cấp 1" [width]="250">
        <ng-template kendoGridGroupHeaderTemplate let-value="value">
          {{ value }}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="categorydetail.name" title="Danh mục cấp 2" [width]="250">
        <ng-template kendoGridGroupHeaderTemplate let-value="value">
          {{ value }}
        </ng-template>
      </kendo-grid-column>

    </kendo-grid>
    <div *ngIf="api.loading" class="k-i-loading"></div>
    <div kendoWindowContainer></div>
    <div kendoDialogContainer></div>
  </div>
</div>
