<div class="card">
    <div class="card-body">
        <kendo-grid [kendoGridBinding]="gridData" kendoGridSelectBy="id" [pageSize]="state.take!" [skip]="state.skip!"
            [sort]="state.sort!" [group]="state.group!" [pageable]="true" [sortable]="true" [height]="768"
            [columnMenu]="{ filter: true }" (dataStateChange)="dataStateChange($event)" (edit)="editHandler($event)"
            (add)="addHanler($event)" (remove)="removeHandler($event)">
            <ng-template kendoGridToolbarTemplate>
              <button kendoGridAddCommand class="btn btn-primary" iconClass="fa fa-plus" style="border-radius: 20px;">  Thêm mới</button>
            </ng-template>
            <kendo-grid-column title="STT" [width]="100">
              <ng-template kendoGridCellTemplate let-rowIndex="rowIndex">
                {{ rowIndex + 1 }}
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="product.name" title="Tên sản phẩm" [width]="300" [hidden]=true>
            </kendo-grid-column>
            <kendo-grid-column field="quantity" title="Số lượng" [width]="120">
            </kendo-grid-column>
            <kendo-grid-column field="property.name" title="Thuộc tính" [width]="120">
            </kendo-grid-column>
            <kendo-grid-column field="size.name" title="Size" [width]="120">
            </kendo-grid-column>
            <kendo-grid-command-column title="Tùy chỉnh" [width]="220">
                <ng-template kendoGridCellTemplate>
                    <button kendoGridEditCommand class="btn-outline-primary" style="border-radius: 20px;" iconClass="fa fa-pencil"> Chỉnh sửa</button>
                    <button kendoGridRemoveCommand class="btn-outline-danger" style="border-radius: 20px;" iconClass="fa fa-trash"> Xóa</button>
                </ng-template>
            </kendo-grid-command-column>
        </kendo-grid>
        <div *ngIf="api.loading" class="k-i-loading"></div>
        <div kendoWindowContainer></div>
    </div>
</div>
